.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.avatar {
    height: 200px;
    width: 200px;
}

#map {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}